.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar ul li {
  font-size: 16px;
  padding: 10px;
  /* display: flex; */
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li .active:after {
  content: "";
  height: 3px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
